################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MayaAstro/appsettings.json
/MayaAstro/gserviceaccount.json
